In [1]:
import numpy as np
import pandas as pd
import os, time, sys
import random, string

In [3]:
fi_dir = '../../data/downstream_data/luad_mskcc_2023_met_organotropism'
mut = pd.read_csv(f'{fi_dir}/mut.txt', sep='\t')
cna = pd.read_csv(f'{fi_dir}/cna.txt', sep='\t')
cnd = pd.read_csv(f'{fi_dir}/cnd.txt', sep='\t')
cov = pd.read_csv(f'{fi_dir}/covariates.txt', sep='\t')
pdf = pd.read_csv(f'{fi_dir}/outcomes.txt', sep='\t')

In [4]:
mut.head()

,sample,ABL1,ABRAXAS1,ACVR1,AGO2,AKT1,AKT2,AKT3,ALK,ALOX12B,...,VTCN1,WT1,WWTR1,XIAP,XPO1,XRCC2,YAP1,YES1,ZFHX3,ZRSR2
0,P-0000149-T01-IM3,0,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,P-0000163-T02-IM3,0,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,P-0000219-T01-IM3,0,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,P-0000252-T01-IM3,0,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,P-0000348-T01-IM3,0,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
cna.head()

,sample,ABL1,ABRAXAS1,ACVR1,AGO2,AKT1,AKT2,AKT3,ALK,ALOX12B,...,VTCN1,WT1,WWTR1,XIAP,XPO1,XRCC2,YAP1,YES1,ZFHX3,ZRSR2
0,P-0000149-T01-IM3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,P-0000163-T02-IM3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,P-0000219-T01-IM3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,P-0000252-T01-IM3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,P-0000348-T01-IM3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
cnd.head()

,sample,ABL1,ABRAXAS1,ACVR1,AGO2,AKT1,AKT2,AKT3,ALK,ALOX12B,...,VTCN1,WT1,WWTR1,XIAP,XPO1,XRCC2,YAP1,YES1,ZFHX3,ZRSR2
0,P-0000149-T01-IM3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,P-0000163-T02-IM3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,P-0000219-T01-IM3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,P-0000252-T01-IM3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,P-0000348-T01-IM3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
cov.head()

,sample,TMB,aSCNA,APOBEC,Clock_SBS1,Clock_SBS5,MMR,POLE,Tobacco,UV
0,P-0000149-T01-IM3,9.982398,0.268293,1,0,0,0,0,0,0
1,P-0000163-T02-IM3,3.327466,0.341463,0,0,0,0,0,0,0
2,P-0000219-T01-IM3,4.436621,0.000000,0,0,0,0,0,0,0
3,P-0000252-T01-IM3,3.327466,0.414634,0,0,0,0,0,0,0
4,P-0000348-T01-IM3,3.327466,0.146341,0,0,0,0,0,0,0

In [8]:
pdf.head()

,sample,PATIENT_ID,CANCER_TYPE,SAMPLE_TYPE,SAMPLE_CLASS,METASTATIC_SITE,PRIMARY_SITE,CANCER_TYPE_DETAILED,GENE_PANEL,SAMPLE_COVERAGE,...,MYC_PATH,TGF_BETA,RTK_RAS,TP53_PATH,HIPPO,NOTCH,NRF2,PI3K,WNT,TMB_NONSYNONYMOUS
0,P-0000149-T01-IM3,P-0000149,Non-Small Cell Lung Cancer,Metastasis,Tumor,Lymph Node,Lung,Lung Adenocarcinoma,IMPACT341,883.0,...,No,No,Yes,No,No,No,No,No,No,9.982398
1,P-0000163-T02-IM3,P-0000163,Non-Small Cell Lung Cancer,Metastasis,Tumor,Pleura,Lung,Lung Adenocarcinoma,IMPACT341,439.0,...,No,No,Yes,Yes,No,No,No,No,No,3.327466
2,P-0000219-T01-IM3,P-0000219,Non-Small Cell Lung Cancer,Primary,Tumor,NaN,Lung,Lung Adenocarcinoma,IMPACT341,1033.0,...,No,Yes,Yes,No,No,No,No,No,No,4.436621
3,P-0000252-T01-IM3,P-0000252,Non-Small Cell Lung Cancer,Metastasis,Tumor,Liver,Lung,Lung Adenocarcinoma,IMPACT341,502.0,...,No,No,No,Yes,No,No,No,No,No,3.327466
4,P-0000348-T01-IM3,P-0000348,Non-Small Cell Lung Cancer,Primary,Tumor,NaN,Lung,Lung Adenocarcinoma,IMPACT341,689.0,...,No,No,Yes,Yes,No,No,No,No,No,3.327466

In [9]:
pdf.columns

Index(['sample', 'PATIENT_ID', 'CANCER_TYPE', 'SAMPLE_TYPE', 'SAMPLE_CLASS',
       'METASTATIC_SITE', 'PRIMARY_SITE', 'CANCER_TYPE_DETAILED', 'GENE_PANEL',
       'SAMPLE_COVERAGE', 'ONCOTREE_CODE', 'MSI_SCORE', 'MSI_TYPE',
       'INSTITUTE', 'SOMATIC_STATUS', 'GROUP_NO', 'IMPACT_PRIMARY_GROUP',
       'IMPACT_METASTATIC_LESION', 'IN_MATCHED', 'FU_2YRS', 'AGE_AT_DOS_BX',
       'PREDOM_HISTO_SUBTYPE', 'CSTAGE', 'PSTAGE', 'ADJUVANT_THERAPY',
       'PRE_SAMPLE_CHEMOTHERAPY', 'PRE_SAMPLE_IMMUNOTHERAPY',
       'PRE_SAMPLE_TARGETED', 'PRE_SAMPLE_XRT', 'PRE_SAMPLE_TX',
       'POST_SAMPLE_CHEMOTHERAPY', 'POST_SAMPLE_IMMUNOTHERAPY',
       'POST_SAMPLE_TARGETED', 'POST_SAMPLE_XRT', 'POST_SAMPLE_TX',
       'METASTATIC_BURDEN', 'EVER_MET_SITE_ADRENAL', 'EVER_MET_SITE_BONE',
       'EVER_MET_SITE_CNS', 'EVER_MET_SITE_LIVER_BILIARY_TRACT',
       'EVER_MET_SITE_LN', 'EVER_MET_SITE_LUNG', 'EVER_MET_SITE_PLEURA',
       'DEATH', 'FGA', 'IS_WGD', 'PLOIDY', 'PURITY', 'CELL_CYCLE', 'MYC_PATH',
       'TGF_BETA', 'RTK_RAS', 'TP53_PATH', 'HIPPO', 'NOTCH', 'NRF2', 'PI3K',
       'WNT', 'TMB_NONSYNONYMOUS'],
      dtype='object')

## Randomly select + generate random string

In [10]:
mut.shape

(2394, 469)

In [11]:
# number of fake samples
fake_K = 10

In [12]:
# random idx
random.seed(0)
random_idx = random.sample(list(np.arange(mut.shape[0])), fake_K)

In [13]:
''.join(random.choices(string.ascii_letters + string.digits, k=10))

'K4FrUMp48Y'

In [14]:
# fake sample IDs
fake_samples = [''.join(random.choices(string.ascii_letters + string.digits, k=10)) for i in range(fake_K)]

In [15]:
fake_samples

['3tT3QDgAL4',
 '7D1qXIaSyZ',
 'PaE1pu1lJo',
 '7XBetF5gIR',
 'HYH7LKBKxJ',
 'sllLODfU25',
 '035HyRrY03',
 'K6JBO94XfL',
 'EN0pThnXuY',
 'gjRcJ4HQbN']

In [16]:
# fake responses
fake_outcomes = [random.sample([0,1], 1)[0] for i in range(fake_K)]
fake_outcomes

[0, 1, 0, 1, 0, 0, 0, 0, 0, 0]

In [23]:
# fake data
fake_mut = mut.iloc[random_idx].reset_index(drop=True)
fake_cna = cna.iloc[random_idx].reset_index(drop=True)
fake_cnd = cnd.iloc[random_idx].reset_index(drop=True)
fake_cov = cov.iloc[random_idx].reset_index(drop=True)
fake_pdf = pd.DataFrame({'sample':fake_samples, 'outcomes':fake_outcomes})

# deidentify patients
fake_mut['sample'] = fake_samples
fake_cna['sample'] = fake_samples
fake_cnd['sample'] = fake_samples
fake_cov['sample'] = fake_samples

In [24]:
fake_mut.head()

,sample,ABL1,ABRAXAS1,ACVR1,AGO2,AKT1,AKT2,AKT3,ALK,ALOX12B,...,VTCN1,WT1,WWTR1,XIAP,XPO1,XRCC2,YAP1,YES1,ZFHX3,ZRSR2
0,3tT3QDgAL4,0,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7D1qXIaSyZ,0,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,PaE1pu1lJo,0,0.0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
3,7XBetF5gIR,0,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,HYH7LKBKxJ,0,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
fake_cna.head()

,sample,ABL1,ABRAXAS1,ACVR1,AGO2,AKT1,AKT2,AKT3,ALK,ALOX12B,...,VTCN1,WT1,WWTR1,XIAP,XPO1,XRCC2,YAP1,YES1,ZFHX3,ZRSR2
0,3tT3QDgAL4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7D1qXIaSyZ,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,PaE1pu1lJo,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,7XBetF5gIR,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,HYH7LKBKxJ,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
fake_cnd.head()

,sample,ABL1,ABRAXAS1,ACVR1,AGO2,AKT1,AKT2,AKT3,ALK,ALOX12B,...,VTCN1,WT1,WWTR1,XIAP,XPO1,XRCC2,YAP1,YES1,ZFHX3,ZRSR2
0,3tT3QDgAL4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7D1qXIaSyZ,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,PaE1pu1lJo,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,7XBetF5gIR,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,HYH7LKBKxJ,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
fake_cov.head()

,sample,TMB,aSCNA,APOBEC,Clock_SBS1,Clock_SBS5,MMR,POLE,Tobacco,UV
0,3tT3QDgAL4,1.729396,0.219512,0,0,0,0,0,0,0
1,7D1qXIaSyZ,3.458792,0.219512,0,0,0,0,0,0,0
2,PaE1pu1lJo,17.293962,0.000000,0,0,0,0,0,0,0
3,7XBetF5gIR,2.594094,0.000000,0,0,0,0,0,0,0
4,HYH7LKBKxJ,20.752754,0.146341,0,0,0,0,0,0,0

In [29]:
fake_pdf.head()

       sample  outcomes
0  3tT3QDgAL4         0
1  7D1qXIaSyZ         1
2  PaE1pu1lJo         0
3  7XBetF5gIR         1
4  HYH7LKBKxJ         0

In [30]:
# save fake data
fake_mut.to_csv('./mut.txt', sep='\t', index=False)
fake_cna.to_csv('./cna.txt', sep='\t', index=False)
fake_cnd.to_csv('./cnd.txt', sep='\t', index=False)
fake_cov.to_csv('./covariates.txt', sep='\t', index=False)
fake_pdf.to_csv('./outcomes.txt', sep='\t', index=False)